aiogram==1.2
aiohttp==3.0.1
aiopg==0.13.2
appdirs==1.4.3
async-timeout==2.0.0
attrs==17.4.0
Babel==2.5.3
certifi==2018.1.18
chardet==3.0.4
click==6.7
croniter==0.3.20
gunicorn==19.7.1
idna==2.6
idna-ssl==1.0.0
multidict==4.1.0
numpy==1.14.1
packaging==17.1
psycopg2==2.7.4
psycopg2-binary==2.7.4
pyparsing==2.2.0
python-dateutil==2.6.1
python-dotenv==0.7.1
pytz==2018.3
redis==2.10.6
requests==2.18.4
rq==0.10.0
rq-scheduler==0.7.0
six==1.11.0
SQLAlchemy==1.2.3
timezonefinder==2.1.2
ujson==1.35
urllib3==1.22
yarl==1.1.0
